<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebProject" value="false" />
    <add key="WebAPIDemoEntities" value="metadata=res://*/WebApiEntity.csdl|res://*/WebApiEntity.ssdl|res://*/WebApiEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WebAPIDemo;persist security info=True;user id=sa;password=welcome;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add key="WebAPIDemoEntities2" value="metadata=res://*/WebApiEntity.csdl|res://*/WebApiEntity.ssdl|res://*/WebApiEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WebAPIDemo2;persist security info=True;user id=sa;password=welcome;MultipleActiveResultSets=True;App=EntityFramework&quot;"  />
  </appSettings>
  <connectionStrings>
    <add name="WebAPIDemoEntities" connectionString="metadata=res://*/WebApiEntity.csdl|res://*/WebApiEntity.ssdl|res://*/WebApiEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WebAPIDemo;persist security info=True;user id=sa;password=welcome;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>