<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="WebAPIDemoEntities" connectionString="metadata=res://*/WebDemoEntity.csdl|res://*/WebDemoEntity.ssdl|res://*/WebDemoEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WebAPIDemo;persist security info=True;user id=sa;password=welcome;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WebAPIDemoEntities2" connectionString="metadata=res://*/WebDemoEntity.csdl|res://*/WebDemoEntity.ssdl|res://*/WebDemoEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WebAPIDemo2;persist security info=True;user id=sa;password=welcome;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net debug="false">
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log/"/>
      <param name="RollingStyle" value="Date"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="Encoding" value="utf-8" />
      <datePattern value="yyyyMMdd'.log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="SysLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="TestAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="TestLog/"/>
      <param name="RollingStyle" value="Date"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <datePattern value="yyyyMMdd'.log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="TestLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="UserAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--日志路径-->
      <param name="File" value="UserLog/user.txt"/>
      <!--log保留天数-->
      <!--<param name= "MaxSizeRollBackups" value= "10"/>-->
      <!--变换的形式为日期Date，这种情况下每天只有一个日志-->
      <!--此时MaxSizeRollBackups和maximumFileSize的节点设置没有意义-->
      <!--<rollingStyle value="Date"/>-->
      <!--变换的形式为日志大小Size-->
      <!--这种情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <param name="RollingStyle" value="Size"/>
      <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <maxSizeRollBackups value="10"/>
      <!--每个日志文件的最大大小-->
      <!--可用的单位:KB|MB|GB-->
      <!--不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="2MB"/>

      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true"/>
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="true"/>
      <datePattern value="yyyyMMdd'.log'"/>
      <!--日志格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="UserLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <!--OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL-->
    <!--Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="SysAppender"/>
      <appender-ref ref="TestAppender"/>
      <appender-ref ref="UserAppender"/>
    </root>
    <!--Print only messages of level DEBUG or above in the packages -->
    <!--<logger name="User">
      <level value="ALL"/>
      <appender-ref ref="UserAppender"/>
    </logger>-->
  </log4net>
  <appSettings>
    <add key="WebProject" value="false"/>
  </appSettings>
  <system.web>
    <httpModules>
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
    </httpModules>
  </system.web>
  <!--<system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="PerRequestLifestyle"/>
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor"/>
    </modules>
    <handlers>
      <add name="PerRequestLifestyle" verb="*" path="*.castle" preCondition="managedHandler" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Microkernel"/>
    </handlers>
  </system.webServer>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>